
html, body {
	margin: 0;
	overflow-x: hidden;
	scrollbar-width: none;
	background-color: #fff;
}

:root {
  --notblack: #3E3E3E;
  --myyellow: #F8B636;
  --isitgrey: #717171;
}

::-webkit-scrollbar {
    display: none;
}

.main-screen {
	height: 100vh;
	width: 100vw;
	background-color: #ffffff;
	color: var(--notblack);
}

.nav-bar{
	width: 100vw;
	height: 80px;
	font-family: Inconsolata;
	font-weight: 500;
	font-size: 16.5px;
}

#abhi-nav {
	display: inline-block;
	float: left;
	margin-left: 55px;
	margin-top: 35px;
}

#nav-link-holder {
	float: right;
	display: inline-block;
	margin-right: 55px;
	margin-top: 35px;
}

.nav-links {
	display: inline;
	padding-left: 50px;
	opacity: 0.7;
	font-size: 15px;
	letter-spacing: 0.5px;
}



a {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
     color: var(--myyellow); 
     text-decoration:none; 
     cursor:pointer;  
}

.nav-links:hover {
	cursor: pointer;
	color: var(--myyellow);
}

.main-holder {
	margin-top: 15vh;
	margin-left: 17.65vw;
}

.title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
}

.mytext {
	margin-top: 20px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: var(--notblack);
	width: 45vw;
}



.underline {
  	background-image: linear-gradient(0deg, #F8B636 100%, #F8B636 100%);
  	background-repeat: no-repeat;
  	background-size: 100% 0.2em;
  	background-position: 0 88%;
  	transition: background-size 0.25s ease-in;
}
.underline:hover {
	color: white;
    background-size: 100% 88%;
  }

.godown {
	position: absolute;
	width: 10vw;
	left: 45vw;
	font-family: Inconsolata;
	font-weight: 200;
	font-size: 16px;
	color: var(--isitgrey);
	text-align: center;
	bottom: 50px;
	transition-duration: 0.5s;
}

.godown:hover {
	font-size: 18px;
	cursor: pointer;
}

#vvv {
	margin-top: 20px;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-10px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.change {
	color: var(--myyellow);
	font-weight: bold;
}


.project-screen {
	width: 100vw;
	background-image: url("assets/mainhead.png");
	background-size: 100vw auto;
	background-repeat: repeat-y;
	padding-top: 30px;
}



.project-main {
	display: inline-block;
	margin-left: 9.375vw;
	width: 81.25vw;
	border-top: 0.5px solid white;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 50px;
}


.project-text {
	margin-left: 70px;
	display: inline-block;
	float: left;
	width: 35.25vw;
}

.project-subtitle {
	font-family: Fira Sans;
	font-weight: 400;
	font-size: 14px;
	color: #e5e5e5;
	letter-spacing: 1px;
}

.project-title {
	margin-top: 10px;
	font-family: Roboto Slab;
	font-size: 36px;
	letter-spacing: 5px;
	color: var(--myyellow);
}

.project-body {
	margin-top: 60px;
	font-family: Fira Sans;
	font-size: 15px;
	line-height: 140%;
	font-weight: 400;
	color: #e0e0e0;
}

#featured {
	margin-top: 25px;
	color: white;
	font-family: Fira Sans;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}

.learn-link {
	margin-top: 110px;
	height: 40px;
	width: 120px;
	color: var(--notblack);
	background-color: var(--myyellow);
	font-family: Fira Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	border-radius: 100px;
	transition-duration: 0.5s
}

.learn-link:hover {
	font-size: 15px;
}

.project-image {
	margin-right: 70px;
	margin-top: 0px;
	display: inline-block;
	float: right;
	transition-duration: 0.5s;
}

.project-image:a img {
	width: 250px;
}

.picture {
	position: absolute;
	top: 15vh;
	left: 17vw;
}

.my-about {
	position: absolute;
	float: right;
	top: 250px;
	left: 45vw;
	text-align: left;
	width: 35vw;
	font-family: Fira Sans;
	font-size: 16px;
	color: var(--notblack);
	font-weight: 400;
}

.bold-text {
	color: var(--myyellow);
	font-weight: 500;
}

.navss {
    color: inherit;
    text-decoration: none;
}

.navss:hover 
{
     color: var(--myyellow); 
     text-decoration:none; 
     cursor:pointer;  
}

.personal {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
}

.personal:hover {
	color: var(--myyellow);
}